#jinja2: lstrip_blocks: "True"
[Unit]
Description=Dokuwiki ({{ dokuwiki_identifier }})
{% for service in dokuwiki_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ dokuwiki_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ dokuwiki_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ dokuwiki_identifier }} \
			--log-driver=none \
			--user={{ dokuwiki_uid }}:{{ dokuwiki_gid }} \
			--cap-drop=ALL \
			--network={{ dokuwiki_container_network }} \
			--env-file={{ dokuwiki_base_path }}/env \
			--label-file={{ dokuwiki_base_path }}/labels \
			{% for arg in dokuwiki_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ dokuwiki_container_image }}

{% for network in dokuwiki_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ dokuwiki_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ dokuwiki_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ dokuwiki_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ dokuwiki_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ dokuwiki_identifier }}

[Install]
WantedBy=multi-user.target